body {
    display: flex;
    flex-direction: row;
    margin: 0px;
}


.leftcontainer {
    width: 230px;
    background-color: #19175a;
    font-family: Roboto;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logocontainer {
    border-bottom: 1px solid white;


}

.container1 {
    border-bottom: 1px solid white;
}

.mainmenu {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 40px;
}

.overview {
    background-color: #92deed;
    color: #11112b;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img1 {
    margin-left: 0px;
    width: 20px;
    height: 20px;
    margin-right: 20px;


}

.wallet {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img2 {
    margin-right: 20px;
}


.transfer {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img3 {
    margin-right: 20px;
}


.history {
    background-color: #19175a;
    color: white;
    font-size: 10px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img4 {
    margin-right: 2px;
}

.settlement {
    background-color: #19175a;
    color: white;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img5 {
    margin-right: 10px;
}

.access {
    background-color: #19175a;
    color: white;
    font-size: 10px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img6 {
    margin-right: 12px;
}

.b7 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img7 {
    margin-right: 10px;
}

.b8 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img8 {
    margin-right: 10px;
}

.b9 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img9 {
    margin-right: 8px;
}

.b10 {
    background-color: #19175a;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 0px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;
    margin-bottom: 10px;


}

.img10 {
    margin-right: 20px;
}

.img11 {
    margin-left: 20px;
}

.help {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 20px;
}

.b11 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 12px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img12 {
    margin-right: 5px;
}

.b12 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img13 {
    margin-right: 10px;
}

.b13 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;


}

.img14 {
    margin-right: 10px;
}

.b14 {
    background-color: #19175a;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 210px;
    height: 50px;
    margin-left: 7px;
    margin-right: 7px;
    font-weight: 700;
    padding-left: 0px;
    padding-bottom: 5px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 10px;
    border: none;
    margin-bottom: 20px;


}

.img15 {
    margin-right: 10px;
}


/*design for right container*/

.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #f3f6ff;

}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-left: 50px;
    margin-top: 8px;
}

/* Style the search input container */
.search-input-container {
    position: relative;
}

/* Style the search input */
#search-input {
    padding: 10px 30px 10px 10px;
    width: 400px;
    border: 1px solid #f3f6ff;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #f3f6ff;
}

/* Style the search icon */
.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

.container3 {
    margin-top: 8px;
    background-color: #f3f6ff;
    margin-left: 200px;
    border-radius: 10px;
    height: 50px;
}

.sun {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 10px;
    border-color: white;
    margin-bottom: 0px;
}

.moon {
    background-color: #f3f6ff;
    border: none;
}

.container4 {
    background-color: #f3f6ff;
    margin-top: 8px;
    margin-left: 35px;
    border-radius: 10px;
    height: 50px;
}

.msg {
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.container5 {
    background-color: #f3f6ff;
    margin-top: 8px;
    margin-left: 35px;
    border-radius: 10px;
    height: 50px;
}

.bell {
    border: none;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.container6 {
    background-color: #f3f6ff;
    margin-left: 50px;
    border-radius: 10px;
    margin-top: 8px;
    padding: 5px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 6px;
}

.account {
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    background-color: #f3f6ff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    color: #434a5e;

}

.container6 img {
    margin-left: 5px;
}

.container7 {
    display: flex;
    flex-direction: row;
    font-family: Inter;
}

.container8 {
    margin-left: 45px;
}

.p1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    color: #3D475C;
}

.p2 {
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    color: #9499A1;
}

.hc {
    display: flex;
    flex-direction: row;
    font-family: Inter;
}

.hc1 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dee2e6;
}

.hc3 {
    margin-left: 65px;
    margin-top: 30px;
}

.logonew {
    width: 151px;
    height: 27.97px;
    margin-bottom: 10px;
}

.mini {
    font-size: 14px;
    font-weight: 400;
    color: #9499A1;
    margin-top: 5px;
    margin-bottom: 0px;
}

.hc4 {
    margin-left: 520px;
    margin-top: 20px;
}

.hc5 {
    display: flex;
    flex-direction: row;
}

.inv {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.inp {
    width: 150px;
    height: 38px;
    background-color: white;
    font-size: 14px;
    font-weight: 400;
    color: #9499A1;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 5px;

}

.con2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.prt2 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dee2e6;
}

.prt21 {
    margin-left: 65px;
    margin-top: 20px;
}

.pr {
    color: #3D475C;
    font-size: 16px;
    font-weight: 500;
}

.inv2 {
    width: 380px;
    height: 222px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
}

.prt22 {
    margin-left: 150px;
    margin-top: 20px;
}

.pr1 {
    font-size: 16px;
    font-weight: 500;
    color: #3D475C;
    margin-bottom: 30px;
}

.pr2 {
    font-size: 14px;
    font-weight: 500;
    color: #3D475C;
    margin-bottom: 30px;
}

.prt23 {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left: 10px;
}

.inpu {
    width: 271px;
    height: 38px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-bottom: 5px;
    font-size: 14px;

}

.prt3 {
    border-bottom: 1px solid #dee2e6;
}

.prt31 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 75px;
    margin-top: 20px;
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
}

.it2 {
    margin-left: 350px;
}

.it3 {
    margin-left: 100px;
}

.it4 {
    margin-left: 250px;
}

.prt32 {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #dee2e6;
    margin-left: 60px;
    border-radius: 8px;
}

.inpu1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 339px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    background-color: white;
    font-size: 14px;
    font-weight: 500;

}

.inpu2 {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    background-color: white;
    font-size: 14px;
    font-weight: 500;

}

.inpu3 {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    background-color: white;
    font-size: 14px;
    font-weight: 500;

}

.inpu4 {
    margin-left: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60px;
    height: 38px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    border: none;


}

.bcksp {
    background-color: white;
    border: none;
    cursor: pointer;
}

.bcksp img {
    width: 22px;
    height: 16px;
}

.btn3 {
    width: 82px;
    height: 38px;
    background-color: #11112b;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.prt4 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dee2e6;
}

.prt41 {
    margin-left: 60px;
    margin-top: 20px;
}

.prt411 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sp {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
}

.inpusp {
    width: 170px;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-left: 15px;
}

.inpusp1 {
    width: 274px;
    height: 38px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    margin-top: 15px;
}

.prt42 {
    margin-left: 475px;
    margin-top: 5px;
}

.it42 {
    color: #9499A1;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.prt43 {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.it43 {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.prt51 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}

.it51 {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
}

.prt51 img {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.inpu5 {
    margin-left: 60px;
    width: 918px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid #dee2e6;
    background-color: white;
    margin-bottom: 10px;
}

.btnh1 {
    background-color: #11112b;
    width: 244px;
    height: 38px;
    border-radius: 10px;
    border: 1px #11112b;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.btnh2 {
    background-color: #e9ecef;
    width: 244px;
    height: 38px;
    border-radius: 10px;
    border: 1px #e9ecef;
    color: #6c757d;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.ph1 {
    margin-left: 10px;
    color: #3D475C;
    font-size: 16px;
    font-weight: 500;
    margin-top: 75px;
}

.hc21 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.ph2 {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;

}

.btnh3 {
    background-color: white;
    border: none;
}

.btnh3 img {
    height: 10px;
    width: 10px;
}

.sel {
    width: 244px;
    height: 38px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #dee2e6;
    color: #9499A1;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}

.ph3 {
    color: #3D475C;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;

}

.con3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.slider-container {
    width: 35px;
}

/* Styles for the slider input */
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #11112B;

    border-radius: 10px;
    outline: none;
}

/* Styles for the slider thumb (slider button) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

/* Styles for the slider thumb (slider button) in Firefox */
.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.pt {
    color: #9499A1;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
}

.slider1 {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background: #dee2e6;

    border-radius: 10px;
    outline: none;
}

/* Styles for the slider thumb (slider button) */
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

/* Styles for the slider thumb (slider button) in Firefox */
.slider1::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}